div.dogs-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

div.dogs-container div.dogs-column {
    display: block;
    flex-grow: 1;
    flex-basis: 50%;
    max-width: 50%;
}
